<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments :: head}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments :: main-top}"></div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments :: main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments :: top-search}"></div>
<!-- End Top Search -->

<!-- Update Personal Information -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${success}" class="text-center alert-success alert">
                    <p th:text="${success}"></p>
                </div>
                <div class="table-main table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col" class="text-center">Order Date</th>
                            <th scope="col" class="text-center">Delivery Date</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-center">Total Price</th>
                            <th scope="col" class="text-center">Payment Method</th>
                            <!--                            <th scope="col" class="text-center">Action</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <th th:text="${order.orderDate}" class="text-center" scope="row"></th>
                            <td>
                                <p th:if="${order.accept == false}" class="text-center">PENDING</p>
                                <p th:if="${order.accept == true}" th:text="${order.deliveryDate}" class="text-center"></p>
                            </td>
                            <td th:text="${order.totalItems}" class="text-center"></td>
                            <td th:text="${order.totalPrice}" class="text-center"></td>
                            <td th:text="${order.paymentMethod}" class="text-center"></td>
                            <!--                            <td class="text-center">-->
                            <!--                                <button type="button" class="btn btn-warning">Cancel</button>-->
                            <!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Footer  -->
<footer th:replace="~{fragments :: footer}"></footer>
<!--  End Footer  -->

<!-- Start Script -->
<div th:replace="~{fragments :: script}"></div>
<!-- End Script -->
</body>

</html>