<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments :: head}"></head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments :: main-top}"></div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments :: main-header}"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments :: top-search}"></div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="images/nen-home1.png" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> NTC Weapons Store</strong></h1>
                            <p class="m-b-40">Let's choose your own weapons! <br> Wishing you a good working day, have fun and have a great match!</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="images/nen-home2.png" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Welcome To <br> NTC Weapons Store</strong></h1>
                            <p class="m-b-40">Let's choose your own weapons! <br> Wishing you a good working day, have fun and have a great match!</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="images/nen-home3.png" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                      
                            <h1 class="m-b-20"><strong>Welcome To <br> NTC Weapons Store</strong></h1>
                            <p class="m-b-40">Let's choose your own weapons! <br> Wishing you a good working day, have fun and have a great match!</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="images/intro-logo.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">We are <span>NTC Weapons Store</span></h2>
                    <p>LOL Weapons is our only business.
                        Having spent many years in the equipment business, we know where to find the best products.
                        NTC Weapons Store only deals with high-class heroes and trusted importers.
                        We handle quality products that we will serve to our heroes.
                        If it's good enough for our table, you'll want it on yours!</p>
                    <p>At NTC Weapons Store, you can choose the best.
                        Here, heroes are invited to participate in an adventure in amazing weapons.
                        We will create an amazing experience for you.</p>
					<p>Our menu is both classic and modern with gunner equipment to magician equipment such as witch's helmet, blood sword, triple sword,...
                        We not only provide great equipment : We create remarkable experiences.</p>
                    <a class="btn hvr-hover" href="#">Read More</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>NTC Weapons Store only deals with premium weaponsmiths and trusted importers.
                            We process quality products that we will serve to you.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p>Here, heroes are invited to participate in an adventure in amazing equipment.
                            We'll create a great experience for you.
                            We don't just provide great equipment: We create remarkable experiences.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p>We have spent many years in the firearms business, we know where to find the best products.
                            Our menu is both classic and modern with equipment from gladiators to assassins such as black axes, sinister claws,...</p>
                    </div>
                </div>
            </div>
            

    <!-- Start Feed  -->
    <div th:replace="~{fragments :: instagram-box}"></div>
    <!-- End Feed  -->


    <!-- Start Footer  -->
    <footer th:replace="~{fragments :: footer}"></footer>
    <!-- End Footer  -->

    <!-- Start Script  -->
    <div th:replace="~{fragments :: script}"></div>
    <!-- End Script  -->
</body>

</html>